@import "../helium/helium";

@mixin newTheme {
  @include helium;

 .v-tabsheet-tabitemcell .v-tabsheet-tabitem-selected .v-caption.v-caption {
   border: 5px solid #108CFF;
   color: white;
   background: #108CFF;
  }

}