@import "../helium/helium";

@mixin newTheme {
  @include helium;

 .v-tabsheet-tabitemcell .v-tabsheet-tabitem-selected .v-caption.v-caption {
   color: white;
   background: #108CFF;
  }
  .v-textfield-readonly {
    border: none;
    background: none;
  }

  .jmix-captiontext-preformatted {
    white-space: pre-wrap;
    font-weight: bolder;
  }

  .jmix-groupbox-caption-confirm-details {
    background: #F0F4F9 0% 0% no-repeat padding-box !important;
    color: #108CFF !important;
    width: 100%;
  }

   .v-tabsheet-tabitemcell .v-tabsheet-tabitem-selected .v-caption.v-caption {
    padding-right:40px;

  }
  //.v-tabsheet-tabitemcell .v-caption {
  //  margin-left: 17px;
  //  padding: 0 3px;
  //  line-height: 34px;
  //  font-size: normal normal normal 20px/30px Poppins;
  //}


}